{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h3>Bienvenue, {{ session['firstname'] }} !<h3> 
<form action="#" method="POST">
	<p> Pour chaque question, choisis un nombre entre 0 et 4. </p>
	<p> 0 = pas du tout d'accord; 4 = tout à fait d'accord </p>
	<p>1) J'aime la musique </p>
	<input type="number" name="q1" placeholder="" value="{{q1 if q1}}" min="0" max="4" required/>
	<br>
	<br>
	<p>2) J'aime le cinéma </p>
	<input type="number" name="q2" placeholder="" value="{{q2 if q2}}" min="0" max="4" required/>
	<br>
	<br>
	<p>3) Je désire parler à: </p>
	<input type="checkbox" name="homme" value="homme"> Homme 
	<br>
	<input type="checkbox" name="femme" value="femme"> Femme 
	<br>
	<br>
	<p>4) Je veux uniquement parler à des personnes de ma région: <input type="checkbox" name="oui" value="oui"> </p>
	<br>
	<input type="submit" value="Envoyer"/>
</form>

{% endblock %}