{% extends "layout.html" %}
 
{% block content %}
  <h2>S'inscrire</h2>
 
  {% for message in form.firstname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.lastname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}


   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.firstname.label }}
    {{ form.firstname }}
<br>     
    {{ form.lastname.label }}
    {{ form.lastname }}
<br>
    {{ form.gender.label }}
    {{ form.gender }} 
<br>   
    {{ form.age.label }}
    {{ form.age }}
<br>     
    {{ form.email.label }}
    {{ form.email }}
<br>
    {{ form.region.label }}
    {{ form.region }}    

<br>   
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
     
{% endblock %}